# Import Libraries

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Read Data

In [3]:
school_df = pd.read_csv('dataset/student-alcohol-consumption.csv')

In [4]:
school_df.head()

,Unnamed: 0,school,sex,age,famsize,Pstatus,Medu,Fedu,traveltime,failures,...,goout,Dalc,Walc,health,absences,G1,G2,G3,location,study_time
0,0,GP,F,18,GT3,A,4,4,2,0,...,4,1,1,3,6,5,6,6,Urban,2 to 5 hours
1,1,GP,F,17,GT3,T,1,1,1,0,...,3,1,1,3,4,5,5,6,Urban,2 to 5 hours
2,2,GP,F,15,LE3,T,1,1,1,3,...,2,2,3,3,10,7,8,10,Urban,2 to 5 hours
3,3,GP,F,15,GT3,T,4,2,1,0,...,2,1,1,5,2,15,14,15,Urban,5 to 10 hours
4,4,GP,F,16,GT3,T,3,3,1,0,...,2,1,2,5,4,6,10,10,Urban,2 to 5 hours

In [5]:
school_df['location'].value_counts()

Urban    307
Rural     88
Name: location, dtype: int64

In [8]:
school_df.groupby('location')['school','sex', 'age','famsize', 'Pstatus','Medu', 'Fedu', 'traveltime', 'failures'].mean()

F:\4.yil_birinci_dnem\Data Science\data\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                age      Medu      Fedu  traveltime  failures
location
Rural     17.045455  2.465909  2.375000    1.875000  0.443182
Urban     16.596091  2.830619  2.563518    1.325733  0.302932

In [9]:
school_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 30 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  395 non-null    int64
 1   school      395 non-null    object
 2   sex         395 non-null    object
 3   age         395 non-null    int64
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   traveltime  395 non-null    int64
 9   failures    395 non-null    int64
 10  schoolsup   395 non-null    object
 11  famsup      395 non-null    object
 12  paid        395 non-null    object
 13  activities  395 non-null    object
 14  nursery     395 non-null    object
 15  higher      395 non-null    object
 16  internet    395 non-null    object
 17  romantic    395 non-null    object
 18  famrel      395 non-null    int64
 19  freetime    395 non-null    int64
 20  goout       395 non-null    int64
 21  Dalc        395 non-null    int64
 22  Walc        395 non-null    int64
 23  health      395 non-null    int64
 24  absences    395 non-null    int64
 25  G1          395 non-null    int64
 26  G2          395 non-null    int64
 27  G3          395 non-null    int64
 28  location    395 non-null    object
 29  study_time  395 non-null    object
dtypes: int64(16), object(14)
memory usage: 92.7+ KB

In [10]:
school_df.describe().T.round(2)

            count    mean     std   min   25%    50%    75%    max
Unnamed: 0  395.0  197.00  114.17   0.0  98.5  197.0  295.5  394.0
age         395.0   16.70    1.28  15.0  16.0   17.0   18.0   22.0
Medu        395.0    2.75    1.09   0.0   2.0    3.0    4.0    4.0
Fedu        395.0    2.52    1.09   0.0   2.0    2.0    3.0    4.0
traveltime  395.0    1.45    0.70   1.0   1.0    1.0    2.0    4.0
failures    395.0    0.33    0.74   0.0   0.0    0.0    0.0    3.0
famrel      395.0    3.94    0.90   1.0   4.0    4.0    5.0    5.0
freetime    395.0    3.24    1.00   1.0   3.0    3.0    4.0    5.0
goout       395.0    3.11    1.11   1.0   2.0    3.0    4.0    5.0
Dalc        395.0    1.48    0.89   1.0   1.0    1.0    2.0    5.0
Walc        395.0    2.29    1.29   1.0   1.0    2.0    3.0    5.0
health      395.0    3.55    1.39   1.0   3.0    4.0    5.0    5.0
absences    395.0    5.71    8.00   0.0   0.0    4.0    8.0   75.0
G1          395.0   10.91    3.32   3.0   8.0   11.0   13.0   19.0
G2          395.0   10.71    3.76   0.0   9.0   11.0   13.0   19.0
G3          395.0   10.42    4.58   0.0   8.0   11.0   14.0   20.0