In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
health_df = pd.read_csv('dataset/Health_conditions_among_children_under_age_18__by_selected_characteristics__United_States.csv')

In [3]:
health_df.head()

,INDICATOR,PANEL,PANEL_NUM,UNIT,UNIT_NUM,STUB_NAME,STUB_NAME_NUM,STUB_LABEL,STUB_LABEL_NUM,YEAR,YEAR_NUM,AGE,AGE_NUM,ESTIMATE,SE,FLAG
0,Health conditions among children under age 18,Current asthma among persons under 18 years,1,"Percent of children, crude",1,Total,0,Under 18 years,0.00,1997-1999,1,Under 18 years,0.0,NaN,NaN,...
1,Health conditions among children under age 18,Current asthma among persons under 18 years,1,"Percent of children, crude",1,Total,0,Under 18 years,0.00,2000-2002,2,Under 18 years,0.0,NaN,NaN,...
2,Health conditions among children under age 18,ADHD among persons under 18 years,3,"Percent of children, crude",1,Age,1,10-17 years,1.22,1997-1999,1,10-17 years,2.2,7.6,0.2,NaN
3,Health conditions among children under age 18,ADHD among persons under 18 years,3,"Percent of children, crude",1,Age,1,10-17 years,1.22,2000-2002,2,10-17 years,2.2,9.0,0.3,NaN
4,Health conditions among children under age 18,ADHD among persons under 18 years,3,"Percent of children, crude",1,Age,1,10-17 years,1.22,2003-2005,3,10-17 years,2.2,8.9,0.3,NaN

In [15]:
health_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2744 entries, 0 to 2743
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   INDICATOR       2744 non-null   object
 1   PANEL           2744 non-null   object
 2   PANEL_NUM       2744 non-null   int64
 3   UNIT            2744 non-null   object
 4   UNIT_NUM        2744 non-null   int64
 5   STUB_NAME       2744 non-null   object
 6   STUB_NAME_NUM   2744 non-null   int64
 7   STUB_LABEL      2744 non-null   object
 8   STUB_LABEL_NUM  2744 non-null   float64
 9   YEAR            2744 non-null   object
 10  YEAR_NUM        2744 non-null   int64
 11  AGE             2744 non-null   object
 12  AGE_NUM         2744 non-null   float64
 13  ESTIMATE        2516 non-null   float64
 14  SE              2516 non-null   float64
dtypes: float64(4), int64(4), object(7)
memory usage: 321.7+ KB

In [6]:
health_df.describe().T.round()

                 count  mean  std  min  25%  50%   75%   max
PANEL_NUM       2744.0   5.0  2.0  1.0  2.0  5.0   7.0   8.0
UNIT_NUM        2744.0   1.0  0.0  1.0  1.0  1.0   1.0   1.0
STUB_NAME_NUM   2744.0   4.0  2.0  0.0  2.0  3.0   5.0   6.0
STUB_LABEL_NUM  2744.0   4.0  2.0  0.0  2.0  4.0   5.0   6.0
YEAR_NUM        2744.0   8.0  4.0  1.0  4.0  8.0  11.0  14.0
AGE_NUM         2744.0   0.0  1.0  0.0  0.0  0.0   0.0   2.0
ESTIMATE        2516.0   8.0  4.0  1.0  5.0  7.0  11.0  22.0
SE              2516.0   0.0  0.0  0.0  0.0  0.0   0.0   3.0

In [16]:
health_df.isna().values.sum()

456

In [17]:
health_df.isna().sum()

INDICATOR           0
PANEL               0
PANEL_NUM           0
UNIT                0
UNIT_NUM            0
STUB_NAME           0
STUB_NAME_NUM       0
STUB_LABEL          0
STUB_LABEL_NUM      0
YEAR                0
YEAR_NUM            0
AGE                 0
AGE_NUM             0
ESTIMATE          228
SE                228
dtype: int64

In [12]:
health_df['FLAG']

0       ...
1       ...
2       NaN
3       NaN
4       NaN
       ...
2739    NaN
2740    NaN
2741    NaN
2742    NaN
2743    NaN
Name: FLAG, Length: 2744, dtype: object

In [14]:
health_df.drop('FLAG', inplace=True, axis=1)