# Import Libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
%matplotlib inline

# Read Data

In [2]:
job_df = pd.read_csv('datasets/DataAnalyst.csv')

In [25]:
job_df.head()

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,Min_Salary,Max_Salary,Department
0,"Data Analyst, Center on Immigration and Justice",Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice,"New York, NY","New York, NY",201 to 500 employees,1961.0,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),NaN,True,37,66,CIJ)
1,Quality Data Analyst,Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York,"New York, NY","New York, NY",10000+ employees,1893.0,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),NaN,False,37,66,NaN
2,"Senior Data Analyst, Insights & Analytics Team...",We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace,"New York, NY","New York, NY",1001 to 5000 employees,2003.0,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,False,37,66,NaN
3,Data Analyst,Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity,"New York, NY","McLean, VA",201 to 500 employees,2002.0,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),NaN,False,37,66,NaN
4,Reporting Data Analyst,ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel,"New York, NY","New York, NY",501 to 1000 employees,2009.0,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True,37,66,NaN

# Data Anlysis

In [4]:
job_df.describe().T.round(2)

             count     mean     std  min    25%     50%     75%     max
Unnamed: 0  2253.0  1126.00  650.53  0.0  563.0  1126.0  1689.0  2252.0
Rating      2253.0     3.16    1.67 -1.0    3.1     3.6     4.0     5.0
Founded     2253.0  1398.52  901.93 -1.0   -1.0  1979.0  2002.0  2019.0

In [5]:
job_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2253 entries, 0 to 2252
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         2253 non-null   int64
 1   Job Title          2253 non-null   object
 2   Salary Estimate    2253 non-null   object
 3   Job Description    2253 non-null   object
 4   Rating             2253 non-null   float64
 5   Company Name       2252 non-null   object
 6   Location           2253 non-null   object
 7   Headquarters       2253 non-null   object
 8   Size               2253 non-null   object
 9   Founded            2253 non-null   int64
 10  Type of ownership  2253 non-null   object
 11  Industry           2253 non-null   object
 12  Sector             2253 non-null   object
 13  Revenue            2253 non-null   object
 14  Competitors        2253 non-null   object
 15  Easy Apply         2253 non-null   object
dtypes: float64(1), int64(2), object(13)
memory usage: 281.8+ KB

In [6]:
job_df['Salary Estimate'].nunique()

90

In [7]:
job_df.groupby('Job Title')['Rating'].mean().sort_values(ascending=False)

Job Title
Data Validation Analyst                      5.0
Software Engineer/Data Analyst               5.0
Data Studio Analyst                          5.0
Data Transformation Analyst                  5.0
QA Data Analyst                              5.0
                                            ...
Partner Training Data Analyst               -1.0
Patient Recruitment Data Analyst (ArcGIS)   -1.0
Pharmaceutical Data Analyst – Analytics     -1.0
Power BI Data Analyst                       -1.0
【1yr OPT+Intern】Data Analyst 保实习保就业         -1.0
Name: Rating, Length: 1272, dtype: float64

In [8]:
job_df=job_df.replace(-1,np.nan)
job_df=job_df.replace(-1.0,np.nan)
job_df=job_df.replace('-1',np.nan)
job_df=job_df.replace('', np.nan)

In [9]:
job_df['Salary Estimate'], _ = job_df['Salary Estimate'].str.split('(', 1).str

F:\4.yil_birinci_dnem\Data Science\data\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  """Entry point for launching an IPython kernel.

In [10]:
job_df['Min_Salary'], job_df['Max_Salary'] = job_df['Salary Estimate'].str.split('-').str

F:\4.yil_birinci_dnem\Data Science\data\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  """Entry point for launching an IPython kernel.

In [11]:
job_df.Min_Salary.unique()

array(['$37K', '$46K', '$51K', '$59K', '$43K', '$60K', '$41K', '$45K',
       '$73K', '$84K', '$27K', '$42K', '$77K', '$98K', '$48K', '$26K',
       '$31K', '$47K', '$49K', '$30K', '$55K', '$57K', '$35K', '$65K',
       '$113K', '$67K', '$97K', '$68K', '$29K', '$74K', '$53K', '$38K',
       '$64K', '$50K', '$76K', '$34K', '$24K', '$44K', '$110K', '$89K',
       '$69K', '$58K', '$63K', '$40K', '$28K', '$54K', '$99K', '$93K',
       '$82K', nan, '$32K', '$36K', '$78K'], dtype=object)

In [12]:
job_df['Min_Salary'] = job_df['Min_Salary'].str.strip(' ').str.lstrip('$').str.rstrip('K').fillna(0).astype('int')

In [13]:
job_df['Max_Salary'] = job_df['Max_Salary'].str.strip(' ').str.lstrip('$').str.rstrip('K').fillna(0).astype('int')

In [14]:
job_df.groupby('Job Title')['Rating','Max_Salary'].mean().sort_values(by='Max_Salary', ascending=False).head(10)

F:\4.yil_birinci_dnem\Data Science\data\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                                                Rating  Max_Salary
Job Title
Data Analyst with Data Mapping and API             NaN       190.0
AI Insights Data Analyst                           5.0       190.0
Data Analyst (SQL, Hive)                           4.4       190.0
Data Analyst, Product Insights                     3.3       190.0
Tableau Data Analyst Intern                        4.0       190.0
Senior HR Data Analyst                             4.6       190.0
Sr. Data Analyst - Growth & Adoption               3.9       190.0
Data Analyst, Autonomy Operations                  4.4       190.0
Senior Data Analyst Studio Finance Engineering     3.9       190.0
Data Studio Analyst                                5.0       178.0

In [15]:
job_df.drop('Unnamed: 0', axis=1, inplace=True)

In [16]:
job_df.drop('Salary Estimate', axis=1, inplace=True)

In [17]:
job_df['Job Title'], job_df['Department'] = job_df['Job Title'].str.split('(', 1).str

F:\4.yil_birinci_dnem\Data Science\data\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  """Entry point for launching an IPython kernel.

In [18]:
job_df['Company Name'], _ = job_df['Company Name'].str.split('\n', 1).str

F:\4.yil_birinci_dnem\Data Science\data\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  """Entry point for launching an IPython kernel.

In [24]:
job_df['Easy Apply'] = job_df['Easy Apply'].fillna(False).astype('bool')

In [27]:
easy_apply_df = job_df[job_df['Easy Apply'] == True]

In [30]:
df = easy_apply_df.groupby('Company Name')['Easy Apply'].count().reset_index()
df.sort_values('Easy apply', ascendin)

                            Company Name  Easy Apply
0                  22nd Century Staffing           2
1              22nd Century Technologies           5
2                                     2U           1
3                           Apex Systems          10
4                            Avetta, LLC           1
5                                   BOLD           2
6     Bandai Namco Entertainment America           1
7             Beacon Hill Staffing Group           1
8                                  Chime           3
9                               Coinbase           1
10                           Course Hero           1
11               Dextro Software Systems           1
12                                Duetto           1
13                                  ERGO           1
14                      Enjoy Technology           1
15                    Esquire Recruiting           1
16                               FanDuel           1
17               GNY Insurance Companies           1
18                        GenapSys, Inc.           1
19       Global Atlantic Financial Group           1
20                              GoHealth           1
21                            Guidepoint           1
22                                Ibotta           1
23                                 Known           1
24                               Life360           1
25                    Lightspeed Systems           1
26                                  Lyft           1
27                          Maine Pointe           1
28                             MediaMath           1
29                             Moveworks           1
30                           My Job Tank           1
31                                NCSOFT           1
32                   NJF Global Holdings           1
33            National Kidney Foundation           1
34                          Numeric, LLC           1
35                       OSI Engineering           1
36                          Omada Health           1
37       Open Systems Technologies (NYC)           1
38                          PDI Software           1
39                   Peloton Interactive           1
40                                PubNub           1
41                          Red Tettemer           1
42                               Remitly           1
43                                 Revel           1
44                              Revel IT           1
45  Royal Communications Consultants Inc           1
46                        Signify Health           3
47                         Spectrum Comm           1
48                                Steady           1
49                            TaskRabbit           1
50                           Tempus Labs           2
51                                Twilio           1
52                                Twitch           1
53                             Undertone           2
54                               Upstart           1
55             Vera Institute of Justice           1
56                               Vervent           1
57                             Wargaming           1
58                       William Hill US           1

## Missed Value