# Import Libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
%matplotlib inline

# Read Data

In [27]:
job_df = pd.read_csv('datasets/DataAnalyst.csv')

In [37]:
job_df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,Min_Salary,Max_Salary
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K,Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True,$37K,$66K
1,1,Quality Data Analyst,$37K-$66K,Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1,$37K,$66K
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K,We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1,$37K,$66K
3,3,Data Analyst,$37K-$66K,Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1,$37K,$66K
4,4,Reporting Data Analyst,$37K-$66K,ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True,$37K,$66K

# Data Anlysis

In [29]:
job_df.describe().T.round(2)

             count     mean     std  min    25%     50%     75%     max
Unnamed: 0  2253.0  1126.00  650.53  0.0  563.0  1126.0  1689.0  2252.0
Rating      2253.0     3.16    1.67 -1.0    3.1     3.6     4.0     5.0
Founded     2253.0  1398.52  901.93 -1.0   -1.0  1979.0  2002.0  2019.0

In [30]:
job_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2253 entries, 0 to 2252
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         2253 non-null   int64
 1   Job Title          2253 non-null   object
 2   Salary Estimate    2253 non-null   object
 3   Job Description    2253 non-null   object
 4   Rating             2253 non-null   float64
 5   Company Name       2252 non-null   object
 6   Location           2253 non-null   object
 7   Headquarters       2253 non-null   object
 8   Size               2253 non-null   object
 9   Founded            2253 non-null   int64
 10  Type of ownership  2253 non-null   object
 11  Industry           2253 non-null   object
 12  Sector             2253 non-null   object
 13  Revenue            2253 non-null   object
 14  Competitors        2253 non-null   object
 15  Easy Apply         2253 non-null   object
dtypes: float64(1), int64(2), object(13)
memory usage: 281.8+ KB

In [31]:
job_df['Salary Estimate'].nunique()

90

In [32]:
job_df.groupby('Job Title')['Rating'].mean().sort_values(ascending=False)

Job Title
Data Validation Analyst                      5.0
Software Engineer/Data Analyst               5.0
Data Studio Analyst                          5.0
Data Transformation Analyst                  5.0
QA Data Analyst                              5.0
                                            ...
Partner Training Data Analyst               -1.0
Patient Recruitment Data Analyst (ArcGIS)   -1.0
Pharmaceutical Data Analyst – Analytics     -1.0
Power BI Data Analyst                       -1.0
【1yr OPT+Intern】Data Analyst 保实习保就业         -1.0
Name: Rating, Length: 1272, dtype: float64

In [52]:
job_df=job_df.replace(-1,np.nan)
job_df=job_df.replace(-1.0,np.nan)
job_df=job_df.replace('-1',np.nan)
job_df=job_df.replace('', np.nan)

In [33]:
job_df['Salary Estimate'], _ = job_df['Salary Estimate'].str.split('(', 1).str

F:\4.yil_birinci_dnem\Data Science\data\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  """Entry point for launching an IPython kernel.

In [36]:
job_df['Min_Salary'], job_df['Max_Salary'] = job_df['Salary Estimate'].str.split('-').str

F:\4.yil_birinci_dnem\Data Science\data\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  """Entry point for launching an IPython kernel.

In [53]:
job_df.Min_Salary.unique()

array(['$37K', '$46K', '$51K', '$59K', '$43K', '$60K', '$41K', '$45K',
       '$73K', '$84K', '$27K', '$42K', '$77K', '$98K', '$48K', '$26K',
       '$31K', '$47K', '$49K', '$30K', '$55K', '$57K', '$35K', '$65K',
       '$113K', '$67K', '$97K', '$68K', '$29K', '$74K', '$53K', '$38K',
       '$64K', '$50K', '$76K', '$34K', '$24K', '$44K', '$110K', '$89K',
       '$69K', '$58K', '$63K', '$40K', '$28K', '$54K', '$99K', '$93K',
       '$82K', nan, '$32K', '$36K', '$78K'], dtype=object)

In [56]:
job_df['Min_Salary'] = job_df['Min_Salary'].str.strip(' ').str.lstrip('$').str.rstrip('K').fillna(0).astype('int')