# Human Development Index and Components

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

## Read Data

In [2]:
data = pd.read_csv('dataset/Human.csv', encoding='latin-1')

In [3]:
data.head()

,HDI rank,Country,HUMAN DEVELOPMENT,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank.1,Unnamed: 10,Unnamed: 11
0,1,Switzerland,VERY HIGH,0.962,84.0,16.5,13.9,"66,933",5,3,NaN,NaN
1,2,Norway,VERY HIGH,0.961,83.2,18.2,13.0,"64,660",6,1,NaN,NaN
2,3,Iceland,VERY HIGH,0.959,82.7,19.2,13.8,"55,782",11,2,NaN,NaN
3,4,"Hong Kong, China (SAR)",VERY HIGH,0.952,85.5,17.3,12.2,"62,607",6,4,NaN,NaN
4,5,Australia,VERY HIGH,0.951,84.5,21.1,12.7,"49,238",18,5,NaN,NaN

In [9]:
data.shape

(195, 12)

## Analysis Data

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 12 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   HDI rank                                195 non-null    int64
 1   Country                                 195 non-null    object
 2   HUMAN DEVELOPMENT                       195 non-null    object
 3   Human Development Index (HDI)           195 non-null    object
 4   Life expectancy at birth                195 non-null    float64
 5   Expected years of schooling             195 non-null    object
 6   Mean years of schooling                 195 non-null    object
 7   Gross national income (GNI) per capita  195 non-null    object
 8   GNI per capita rank minus HDI rank      195 non-null    object
 9   HDI rank.1                              195 non-null    object
 10  Unnamed: 10                             0 non-null      float64
 11  Unnamed: 11                             0 non-null      float64
dtypes: float64(3), int64(1), object(8)
memory usage: 18.4+ KB

In [12]:
data.describe()

         HDI rank  Life expectancy at birth
count  195.000000                195.000000
mean    97.815385                 71.277949
std     56.467551                  7.746484
min      1.000000                 52.500000
25%     49.500000                 65.700000
50%     97.000000                 71.700000
75%    146.000000                 76.700000
max    195.000000                 85.900000

### Missed Value

In [7]:
data.isnull().values.sum()

390

In [11]:
data.isnull().sum()

HDI rank                                  0
Country                                   0
HUMAN DEVELOPMENT                         0
Human Development Index (HDI)             0
Life expectancy at birth                  0
Expected years of schooling               0
Mean years of schooling                   0
Gross national income (GNI) per capita    0
GNI per capita rank minus HDI rank        0
HDI rank.1                                0
dtype: int64

In [10]:
data.drop(['Unnamed: 10', 'Unnamed: 11'], axis=1, inplace=True)

In [13]:
data.duplicated(keep='first').sum()

0

In [14]:
data.iloc[:, 1:]

,Country,HUMAN DEVELOPMENT,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank.1
0,Switzerland,VERY HIGH,0.962,84.0,16.5,13.9,"66,933",5,3
1,Norway,VERY HIGH,0.961,83.2,18.2,13.0,"64,660",6,1
2,Iceland,VERY HIGH,0.959,82.7,19.2,13.8,"55,782",11,2
3,"Hong Kong, China (SAR)",VERY HIGH,0.952,85.5,17.3,12.2,"62,607",6,4
4,Australia,VERY HIGH,0.951,84.5,21.1,12.7,"49,238",18,5
...,...,...,...,...,...,...,...,...,...
190,South Sudan,LOW,0.385,55.0,5.5,5.7,768,-1,191
191,Korea (Democratic People's Rep. of),OTHER,..,73.3,10.8,..,..,..,..
192,Monaco,OTHER,..,85.9,..,..,..,..,..
193,Nauru,OTHER,..,63.6,11.7,..,"17,730",..,..
194,Somalia,OTHER,..,55.3,..,..,"1,018",..,..